<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="Suite1" parallel="classes">
  <test  name="Test1" parallel="classes">
    <classes>
    <class name="appium.Demo1">    
    <methods>
    <exclude name="search.*">
     </exclude>
    </methods>
    </class>
    <class name="appium.Demo2">
    <methods>
    <include name="print">
     </include>
     </methods>
    </class>      
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
